SOAP/ClientApp/Connected Services/ServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60422/Services/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60422/Services/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60422/Services/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_AddProductToList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToList" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProductToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromList" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductFromList" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductFromListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInList" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromList" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromListResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="AddProductToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddProductToList" message="tns:IProductService_AddProductToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddProductToListResponse" message="tns:IProductService_AddProductToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsFromList" message="tns:IProductService_GetProductsFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsFromListResponse" message="tns:IProductService_GetProductsFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductFromList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductFromList" message="tns:IProductService_GetProductFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductFromListResponse" message="tns:IProductService_GetProductFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductInList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/UpdateProductInList" message="tns:IProductService_UpdateProductInList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateProductInListResponse" message="tns:IProductService_UpdateProductInList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductFromList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProductFromList" message="tns:IProductService_DeleteProductFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductFromListResponse" message="tns:IProductService_DeleteProductFromList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProductToList">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddProductToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromList">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsFromList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFromList">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductFromList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductInList">
      <soap:operation soapAction="http://tempuri.org/IProductService/UpdateProductInList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductFromList">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteProductFromList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:60422/Services/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>